*{
    padding: 0;
    margin: 0;
}
.wraper{
    width: 600px;
    margin: 200px auto;
}
button.close {
    
    margin-left: 89%;
}
#counter{
    text-align: center;
    font-size: 78px;
    vertical-align: middle;
    margin: auto;
    font-weight: 700;
}
#counter span{
    text-align: center;
    margin:auto;
    font-size: 78px;
    font-weight: 900;
}